<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/buscar/" method="GET">
    <table>
        <tr>
            <td>Ingrese nombre de producto</td>
            <td><input type="text" name="txt_producto"> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Buscar"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>