<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>
<body>
    {% include "encabezado.html" %}
    <form action="/ingreso_producto/" method="GET">
        <table>
            <tr>
                <td>Nombre</td>
                <td><input type="text" name="txt_nombre"></td>
            </tr>
            <tr>
                <td>Categía</td>
                <td><input type="text" name="txt_categoria"></td>
            </tr>
            <tr>
                <td>Precio</td>
                <td><input type="text" name="txt_precio"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Guardar" name=""></td>
                <td></td>
            </tr>
        </table>      
    </form>   
</body>
</html>